*{
  box-sizing: border-box;
}
body{
  background-color:rgb(248, 249, 255);
  line-height: 2;
  letter-spacing: 2px;
}
/* トップ画 */
header{
  font-size: 1rem;
  margin: 0px 1rem;
}
header h1{
  font-size: 2rem;
  color: black;
  letter-spacing: 10px;
}
.pic{
  position: relative;  
  display: inline-flex;
}
.pic p{
  position: absolute;
  top: 0%;
  left: 5%;
  font-size: 6.5rem;
  font-weight: bolder;
}
.pic img{
  width: 70%;
  height: 20rem;
  object-fit: cover;
  opacity: 0.7;
}
.tree {
  width: 30%;
}
.tree img {
  width: 100%;
}

/* 紹介 */
.subtitle h2{
  font-size: 2rem;
  text-align: center;
  color:rgb(53, 140, 88);
  z-index: 10;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 0;
}
.aboutpic{
  display: flex;
  margin: 0 8%;
}
.aboutpic img {
  width: 18rem;
  height: 16rem;
  border-radius: 50%;
  z-index: 1;
  margin-top: 5%;
}
.aboutme{
  margin-left: 3rem;
  z-index: 1;
}
.aboutme p{
  font-size: 1.2rem;
  font-family: 'Tahoma';
}
.square {
  position: absolute;
  top:30rem;
  left:2rem;
  width: 5%;
  height: 27rem;
  background-color: rgb(9, 48, 148);
  opacity: 0.4;
}

/* 内容 */
main{
 margin: 3rem 1rem;
}
.container h2{
  font-family: monospace;
  font-size: 3rem;
  margin: 5rem auto 0;
  text-align: center;
}
.container {
  position: relative;
}
.main-left {
  display: flex;
}
.main-right {
  display: flex;
}
.main-left .square2 {
  width: 20%;
  height: 10rem;
  transform: skewY(-5deg);
  transform-origin: bottom left;
  background: rgba(196, 155, 222, 0.5);
}
.main-right .square2 {
  width: 20%;
  height: 15rem;
  transform: skewY(5deg);
  transform-origin: bottom right;
  background: rgba(227, 99, 222, 0.5);
  order: 1;
}
.main-right .contents {
  order: 2;
}
.history {
  margin: 3rem 1rem;
}

.contents > h3{
  font-weight: lighter;
  font-size: 2rem;
  font-family: monospace;
  margin-bottom: 0;
  -webkit-text-stroke: 1px rgba(52, 50, 50);
  color:rgb(18, 18, 18);
}
.right {
  margin-top: 0;
}
.left {
  margin-top: 0;
}
.contents {
  width: 100%;
}
.contents ul{
  background-color:rgba(155, 149, 149, 0.9);
  border: rgb(201, 213, 205) solid 1px;
  border-style:dashed;
  padding: 20px;
  margin: 0 1rem;
}
a {
  text-decoration: none;
  color: rgb(196, 57, 57);
  font-size: 2rem;
}

/* お問い合わせ */
.map {
  margin: 0 auto;
  width:95%;
  font-size: 2rem;
  color: aliceblue;
}
.map h4{
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}
form {
  background-image: url("../img/map.jpg");
  width:80%;
  margin:0 auto;
  opacity: 0.9;
  
}
.item{
  overflow: hidden;
  padding: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
label{
  border-left: solid 4px #e0505d;
}
input{
  width:60%;
  height: 3rem;
  font-size: 1rem;
}
textarea{
  border: solid 1px #aaa;
  border-radius:5px;
  width: 50%;
  height: 6rem;
  margin-left: 1rem;
  font-size: 1rem;
  position: absolute;
}
.btn-area{
  text-align: center; 
}
input[type="submit"]{
  background: #e0505c;
  border: none;
  color: white;
  font-size:1.5rem;
  font-weight:bold;
  width: 30%;
  margin: 1rem;
}
input[type="reset"]{
  background: #aaa;
  border: none;
  color: white;
  font-size:1.5rem;
  font-weight:bold;
  width: 30%;
  margin: 1rem;
}

/* フッター */
 footer{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(156, 151, 151);
    padding: 60px 0;
    color: rgb(105, 103, 103);
  }


